body {
  background-color: #efebe0;
  overflow-x:hidden;
}

#jumbotron {
  height:200px;
}

#main-jumbo {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url("../images/2.jpg");
    background-size: cover;
    color: #efebe0;
    margin-top: -60px;
}

#portfolio-jumbo {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url("../images/portfolio.jpg");
    background-size: cover;
    color: #efebe0;
    padding:14%;
    margin-top: 3%;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.name {
  margin-top: 20%;
}

.breadcrumb {
  background: none;
  margin-top: 20px;;
}

.breadcrumb a{
  color:#E9EBE5;
  font-size:18px;
}

.port-photo{
  border:3px solid #E9EBE5;
}

#profile {
  box-shadow: 2px 2px 2px black;
}


#summary {
  margin-top: 6%;
}

#learn {
  color:#507E85;
}

/*PORTFOLIO CAROUSEL*/

.carousel-inner {
    margin: 20px auto;
    max-height:260px;
}

#carousel-example-generic {
    margin: 20px auto;
    width: 400px;
}

#carousel-custom {
    margin: 20px auto;
    width: 400px;
}

#carousel-custom .carousel-indicators {
    margin-top: 10px;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}

#carousel-custom .carousel-inner a{
  color:#5B5C5A;
}

/* HIDE CAROUSEL THUMBNAILS */
@media only screen and (max-width: 600px) {
    .mCustomScrollbar {
        opacity:0;
    }
}
/*END CAROUSEL*/

#footer{
  background-color:#507E85;
  /*padding: 5px;*/
  color: #efebe0;
  position: static;
  bottom: 0;
  /*width: 102%;*/
  height: 35px;
}

#footer ul {
  margin-right: 3%;
}

.footer-list{
  display: inline-block;
}

.footer-ul{
  color: #efebe0;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    background: transparent;
}

.description {
    padding: 10px;
    margin-top: -20px;
}

.vertical-align {
    display: flex;
    align-items: center;
}
